// margin top
.u-center-text {
  text-align: center;
}

.u-text-upper {
  text-transform: uppercase;
}

// margin bottom
.u-mb-l {
  margin-bottom: 6rem;
}

.u-mb-m {
  margin-bottom: 3rem;
}

.u-mb-s {
  margin-bottom: 1.5rem;
}

// margin top
.u-mt-l {
  margin-top: 6rem;
}

.u-mt-xl {
  margin-top: 8rem;
}
